@charset "UTF-8";
/* CSS Document */
#div1,#div2,#container{
	
	padding: 0px;
	margin: 0px;
}
#container{
	width: 600px;
	height: 500px;
	background-color: #807D79;
	margin: 0 auto;
	position: relative;
	border: #000000;
	
}