@charset "UTF-8";
/* CSS Document */
header,box,navigator{
	margin: 0px;
	padding: 0px;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	#header{
	height: 58px;
	width: 641px;
	width: 100%;
	background: url(../图片/navbg.png)repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
#box{
	height: 50px;
	width: 620px;
	margin: 0 auto;
	position: relative;
	display: block;
}

a.logo{
	width: 30px;
	height: 27px;
	display: block;
	position: relative;
	left: 10px;
	top: 7px;
	cursor: pointer;
}

ul.navigator{
	height: 25px;
	position: absolute;
	top: 13px;
	text-align: center;
	list-style: none;
	
}
ul.navigator li{
	height: 10px;
	line-height: 10px;
	float: left;
	font-size: 12px;
	color: #000000;
	position: relative;
	bottom: 8px;
	border-right: 1px solid #000000;
}

ul.navigator .last{
	border: 0 ;
}
ul.navigator a{
	font-size: 14px;
	color: #6a6969;
	text-decoration: none;
	cursor: pointer;
	font-family: "Artifakt Element";
	display: inline-block;
	padding:0 1.3rem;
	
}

ul.navigator a:hover{
			color:#e1569c;
		}
div.search{
	width: 125px;
	height: 20px;
	border: 1px solid #817d87;
	border-radius: 3px;
	position: absolute;
	top: 100px;
	right: 0;
	top: 14px;
}
div.search span1{
	height: 14px;
	width: 16px;
	bottom: px;
	background: url(../图片/search.png) no-repeat;
	margin: 3px;
	border-right: 1px solid #000000;
	float: left;
	padding-right: 5px;
	display: block;
	
}
input,select,button{
	vertical-align: middle;
	outline: none;
	border: none;
}
div.search inpt{
	height: 20px;
	float: left;
	
}

div.button{
	width: 20px;
	background: url(../图片/btn.png);
	cursor: pointer;
	float: right;
	position: absolute;
    bottom: 3px;
	
}


div.search input{
	width: 79px;
	color: #000000;
	font-size: 12px;
	line-height: 17px;
	float: left;
	height: 17px;
}

div.nav-line {
	background: none repeat scroll 0 0 #e8006d;
	bottom: -17px;
	font-size: 0;
	height: 8px;
	left: 610px;
	line-height: 6px;
	position:relative;
	width: 115px;
}
div.shadow{
	width: 150%;
	left: -290px;
	height: 7px;
	background: url(../图片/shadow.png);
	z-index: 160;
	position: relative;
	top: 17px
}
	div.bgimg{
	width: 50%;
	min-width: 1761px;
	min-height: 1200px;
	background-image: url(../图片/bodybg.png) ;
	background-color: #feefef;
	background-repeat: no-repeat;
}
div.bgimg a.gif{
	position:relative;
	margin: 0 auto;
	width: 640px;

}
div.bgimg a.txt{
	position: relative;
	margin-left: 110px;
	position: fixed;
	margin-top: 100px;
}


p.button{
	width: 180px;
	height: 60px;
	background-color: #c45172;
	border-radius: 100px;
	position: fixed;
	margin-left: 230px;
	margin-top: 640px;
	font-family: "FZQuSongS-R-GB";
	font-size: 33px;
	line-height: 65px;
	 border: 1px solid #B53C2A;
	color: #ffffff;
	text-align: center;
	letter-spacing: 1pt;
}
div.bgimg a.go{
	position: relative;
	margin-left: 1px;
	text-decoration: none;
	color: #ffffff;
}
div.bgimg a.go:hover{
	text-decoration: underline ;
	
}
       
        }
    @media only screen and (min-width: 641px) and (max-width: 2000px) {
		#header{
	height: 58px;
	width: 1011px;
	width: 100%;
	background: url(../图片/navbg.png)repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
#box{
	height: 50px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	display: block;
}

a.logo{
	width: 36px;
	height: 30px;
	display: block;
	position: relative;
	left: 0px;
	top: 7px;
	cursor: pointer;
}

ul.navigator{
	height: 25px;
	position: absolute;
	top: 13px;
	right: 168px;
	list-style: none;
	
}
ul.navigator li{
	height: 10px;
	line-height: 10px;
	float: left;
	font-size: 12px;
	color: #000000;
	position: relative;
	bottom: 8px;
	border-right: 1px solid #000000;
}

ul.navigator .last{
	border: 0 ;
}
ul.navigator a{
	font-size: 14px;
	color: #6a6969;
	text-decoration: none;
	cursor: pointer;
	font-family: "Artifakt Element";
	display: inline-block;
	padding:0 1.5rem;
	
}

ul.navigator a:hover{
			color:#e1569c;
		}
div.search{
	width: 125px;
	height: 20px;
	border: 1px solid #817d87;
	border-radius: 3px;
	position: absolute;
	right: 0;
	top: 14px;
}
div.search span1{
	height: 14px;
	width: 16px;
	bottom: px;
	background: url(../图片/search.png) no-repeat;
	margin: 3px;
	border-right: 1px solid #000000;
	float: left;
	padding-right: 5px;
	display: block;
	
}
input,select,button{
	vertical-align: middle;
	outline: none;
	border: none;
}
div.search inpt{
	height: 20px;
	float: left;
	
}

div.button{
	width: 20px;
	background: url(../图片/btn.png);
	cursor: pointer;
	float: right;
	position: absolute;
    bottom: 3px;
	
}


div.search input{
	width: 79px;
	color: #000000;
	font-size: 12px;
	line-height: 17px;
	float: left;
	height: 17px;
}

div.nav-line {
	background: none repeat scroll 0 0 #e8006d;
	bottom: -17px;
	font-size: 0;
	height: 8px;
	left: 610px;
	line-height: 6px;
	position:relative;
	width: 115px;
}
div.shadow{
	width: 150%;
	left: -290px;
	height: 7px;
	background: url(../图片/shadow.png);
	z-index: 160;
	position: relative;
	top: 17px
}
        
        }
    

div.bgimg{
	width: 50%;
	min-width: 1761px;
	min-height: 800px;
	background-image: url(../图片/bodybg.png) ;
	background-color: #feefef;
	background-repeat: no-repeat;
}
div.bgimg a.gif{
	position: relative;
	margin-left: 650px;
	position: fixed;
	margin-top: 50px;
}
div.bgimg a.txt{
	position: relative;
	margin-left: 110px;
	position: fixed;
	margin-top: 100px;
}


p.button{
	width: 180px;
	height: 60px;
	background-color: #c45172;
	border-radius: 100px;
	position: fixed;
	margin-left: 230px;
	margin-top: 640px;
	font-family: "FZQuSongS-R-GB";
	font-size: 33px;
	line-height: 65px;
	 border: 1px solid #B53C2A;
	color: #ffffff;
	text-align: center;
	letter-spacing: 1pt;
}
div.bgimg a.go{
	position: relative;
	margin-left: 1px;
	text-decoration: none;
	color: #ffffff;
}
div.bgimg a.go:hover{
	text-decoration: underline ;
	
}
	








