@charset "UTF-8";
/* CSS Document */
header,box,navigator{
	margin: 0px;
	padding: 0px;
}
#header{
	height: 50px;
	width: 100%;
	background: url(图片/headerbg.png)repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
#box{
	height: 50px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	display: block;
}

a.logo{
	width: 36px;
	height: 30px;
	display: block;
	position: relative;
	left: 0px;
	top: 4px;
	cursor: pointer;
}

ul.navigator{
	height: 25px;
	position: absolute;
	top: 13px;
	right: 168px;
	list-style: none;
}
ul.navigator li{
	height: 25px;
	line-height: 25px;
	float: left;
	font-size: 12px;
	color: #6a6969;
}
ul.navigator a{
	font-size: 14px;
	color: #6a6969;
	text-decoration: none;
	cursor: pointer;
	font: "Artifakt Element";
	
}
ul.navigator li1{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	font: "Artifakt Element";
	
	
}










